@media screen and (max-width: 600px) {
  .light #inner-nav.opened > ul {
    background: rgba(255, 255, 255, 0.9) !important; } }
.light #nav-toggle {
  color: #bbb; }
@media screen and (max-width: 600px) {
  .light .navbar-nav > li > a {
    color: #777; } }

.dark .wowmenu.tiny {
  top: 0;
  background: rgba(0, 0, 0, 0.8) !important; }
@media screen and (max-width: 600px) {
  .dark .navbar {
    background-color: transparent !important; }
  .dark #inner-nav.opened > ul {
    background: rgba(0, 0, 0, 0.5) !important; } }
.dark .wowmenu.tiny .navbar-nav > li > a {
  color: #ccc; }
.dark .wowmenu.tiny .navbar-nav > li.active > a {
  color: #fff; }
.dark #nav-toggle {
  color: #fff; }
.dark .navbar-nav > li > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8) !important; }
.dark .dropdown-menu > li > a {
  border-bottom: 1px solid #222 !important; }

.secondary-blue-navy .navbar-nav > li.active > a {
  border-bottom: 4px solid #004983; }
.secondary-blue-navy .navbar-nav > li > a:hover {
  border-bottom: 4px solid #004983; }
.secondary-blue-navy .copyright {
  background: #004983; }
@media screen and (max-width: 600px) {
  .secondary-blue-navy #main-nav .navbar-brand {
    color: #004983; }
  .secondary-blue-navy .navbar-nav > li.active > a {
    border-bottom: none;
    color: #004983; }
  .secondary-blue-navy .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #004983; } }
.secondary-blue-navy .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #004983; }
.secondary-blue-navy .portlet-title-text {
  border-bottom: 4px solid #004983; }
@media screen and (min-width: 600px) {
  .secondary-blue-navy .navbar-header {
    background: #004983; } }
.secondary-blue-navy .btn-primary {
  background-color: #004983;
  border-color: #004983; }
.secondary-blue-navy .theme-color {
  color: #004983; }
.secondary-blue-navy .theme-background {
  background: #004983; }
.secondary-blue-navy .nav .open > a, .secondary-blue-navy .nav .open > a:hover, .secondary-blue-navy .nav .open > a:focus {
  background-color: transparent;
  border-color: #004983; }

.secondary-blue-powder .navbar-nav > li.active > a {
  border-bottom: 4px solid #3498db; }
.secondary-blue-powder .navbar-nav > li > a:hover {
  border-bottom: 4px solid #3498db; }
.secondary-blue-powder .copyright {
  background: #3498db; }
@media screen and (max-width: 600px) {
  .secondary-blue-powder #main-nav .navbar-brand {
    color: #3498db; }
  .secondary-blue-powder .navbar-nav > li.active > a {
    border-bottom: none;
    color: #3498db; }
  .secondary-blue-powder .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #3498db; } }
.secondary-blue-powder .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #3498db; }
.secondary-blue-powder .portlet-title-text {
  border-bottom: 4px solid #3498db; }
@media screen and (min-width: 600px) {
  .secondary-blue-powder .navbar-header {
    background: #3498db; } }
.secondary-blue-powder .btn-primary {
  background-color: #3498db;
  border-color: #3498db; }
.secondary-blue-powder .theme-color {
  color: #3498db; }
.secondary-blue-powder .theme-background {
  background: #3498db; }
.secondary-blue-powder .nav .open > a, .secondary-blue-powder .nav .open > a:hover, .secondary-blue-powder .nav .open > a:focus {
  background-color: transparent;
  border-color: #3498db; }

.secondary-crimson .navbar-nav > li.active > a {
  border-bottom: 4px solid #930d18; }
.secondary-crimson .navbar-nav > li > a:hover {
  border-bottom: 4px solid #930d18; }
.secondary-crimson .copyright {
  background: #930d18; }
@media screen and (max-width: 600px) {
  .secondary-crimson #main-nav .navbar-brand {
    color: #930d18; }
  .secondary-crimson .navbar-nav > li.active > a {
    border-bottom: none;
    color: #930d18; }
  .secondary-crimson .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #930d18; } }
.secondary-crimson .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #930d18; }
.secondary-crimson .portlet-title-text {
  border-bottom: 4px solid #930d18; }
@media screen and (min-width: 600px) {
  .secondary-crimson .navbar-header {
    background: #930d18; } }
.secondary-crimson .btn-primary {
  background-color: #930d18;
  border-color: #930d18; }
.secondary-crimson .theme-color {
  color: #930d18; }
.secondary-crimson .theme-background {
  background: #930d18; }
.secondary-crimson .nav .open > a, .secondary-crimson .nav .open > a:hover, .secondary-crimson .nav .open > a:focus {
  background-color: transparent;
  border-color: #930d18; }

.secondary-gold .navbar-nav > li.active > a {
  border-bottom: 4px solid #b89b00; }
.secondary-gold .navbar-nav > li > a:hover {
  border-bottom: 4px solid #b89b00; }
.secondary-gold .copyright {
  background: #b89b00; }
@media screen and (max-width: 600px) {
  .secondary-gold #main-nav .navbar-brand {
    color: #b89b00; }
  .secondary-gold .navbar-nav > li.active > a {
    border-bottom: none;
    color: #b89b00; }
  .secondary-gold .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #b89b00; } }
.secondary-gold .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #b89b00; }
.secondary-gold .portlet-title-text {
  border-bottom: 4px solid #b89b00; }
@media screen and (min-width: 600px) {
  .secondary-gold .navbar-header {
    background: #b89b00; } }
.secondary-gold .btn-primary {
  background-color: #b89b00;
  border-color: #b89b00; }
.secondary-gold .theme-color {
  color: #b89b00; }
.secondary-gold .theme-background {
  background: #b89b00; }
.secondary-gold .nav .open > a, .secondary-gold .nav .open > a:hover, .secondary-gold .nav .open > a:focus {
  background-color: transparent;
  border-color: #b89b00; }

.secondary-green-dark .navbar-nav > li.active > a {
  border-bottom: 4px solid #235800; }
.secondary-green-dark .navbar-nav > li > a:hover {
  border-bottom: 4px solid #235800; }
.secondary-green-dark .copyright {
  background: #235800; }
@media screen and (max-width: 600px) {
  .secondary-green-dark #main-nav .navbar-brand {
    color: #235800; }
  .secondary-green-dark .navbar-nav > li.active > a {
    border-bottom: none;
    color: #235800; }
  .secondary-green-dark .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #235800; } }
.secondary-green-dark .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #235800; }
.secondary-green-dark .portlet-title-text {
  border-bottom: 4px solid #235800; }
@media screen and (min-width: 600px) {
  .secondary-green-dark .navbar-header {
    background: #235800; } }
.secondary-green-dark .btn-primary {
  background-color: #235800;
  border-color: #235800; }
.secondary-green-dark .theme-color {
  color: #235800; }
.secondary-green-dark .theme-background {
  background: #235800; }
.secondary-green-dark .nav .open > a, .secondary-green-dark .nav .open > a:hover, .secondary-green-dark .nav .open > a:focus {
  background-color: transparent;
  border-color: #235800; }

.secondary-green-light .navbar-nav > li.active > a {
  border-bottom: 4px solid #00b16a; }
.secondary-green-light .navbar-nav > li > a:hover {
  border-bottom: 4px solid #00b16a; }
.secondary-green-light .copyright {
  background: #00b16a; }
@media screen and (max-width: 600px) {
  .secondary-green-light #main-nav .navbar-brand {
    color: #00b16a; }
  .secondary-green-light .navbar-nav > li.active > a {
    border-bottom: none;
    color: #00b16a; }
  .secondary-green-light .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #00b16a; } }
.secondary-green-light .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #00b16a; }
.secondary-green-light .portlet-title-text {
  border-bottom: 4px solid #00b16a; }
@media screen and (min-width: 600px) {
  .secondary-green-light .navbar-header {
    background: #00b16a; } }
.secondary-green-light .btn-primary {
  background-color: #00b16a;
  border-color: #00b16a; }
.secondary-green-light .theme-color {
  color: #00b16a; }
.secondary-green-light .theme-background {
  background: #00b16a; }
.secondary-green-light .nav .open > a, .secondary-green-light .nav .open > a:hover, .secondary-green-light .nav .open > a:focus {
  background-color: transparent;
  border-color: #00b16a; }

.secondary-maroon .navbar-nav > li.active > a {
  border-bottom: 4px solid maroon; }
.secondary-maroon .navbar-nav > li > a:hover {
  border-bottom: 4px solid maroon; }
.secondary-maroon .copyright {
  background: maroon; }
@media screen and (max-width: 600px) {
  .secondary-maroon #main-nav .navbar-brand {
    color: maroon; }
  .secondary-maroon .navbar-nav > li.active > a {
    border-bottom: none;
    color: maroon; }
  .secondary-maroon .navbar-nav > li > a:hover {
    border-bottom: none;
    color: maroon; } }
.secondary-maroon .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid maroon; }
.secondary-maroon .portlet-title-text {
  border-bottom: 4px solid maroon; }
@media screen and (min-width: 600px) {
  .secondary-maroon .navbar-header {
    background: maroon; } }
.secondary-maroon .btn-primary {
  background-color: maroon;
  border-color: maroon; }
.secondary-maroon .theme-color {
  color: maroon; }
.secondary-maroon .theme-background {
  background: maroon; }
.secondary-maroon .nav .open > a, .secondary-maroon .nav .open > a:hover, .secondary-maroon .nav .open > a:focus {
  background-color: transparent;
  border-color: maroon; }

.secondary-orange .navbar-nav > li.active > a {
  border-bottom: 4px solid #ffa319; }
.secondary-orange .navbar-nav > li > a:hover {
  border-bottom: 4px solid #ffa319; }
.secondary-orange .copyright {
  background: #ffa319; }
@media screen and (max-width: 600px) {
  .secondary-orange #main-nav .navbar-brand {
    color: #ffa319; }
  .secondary-orange .navbar-nav > li.active > a {
    border-bottom: none;
    color: #ffa319; }
  .secondary-orange .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #ffa319; } }
.secondary-orange .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #ffa319; }
.secondary-orange .portlet-title-text {
  border-bottom: 4px solid #ffa319; }
@media screen and (min-width: 600px) {
  .secondary-orange .navbar-header {
    background: #ffa319; } }
.secondary-orange .btn-primary {
  background-color: #ffa319;
  border-color: #ffa319; }
.secondary-orange .theme-color {
  color: #ffa319; }
.secondary-orange .theme-background {
  background: #ffa319; }
.secondary-orange .nav .open > a, .secondary-orange .nav .open > a:hover, .secondary-orange .nav .open > a:focus {
  background-color: transparent;
  border-color: #ffa319; }

.secondary-purple .navbar-nav > li.active > a {
  border-bottom: 4px solid #553679; }
.secondary-purple .navbar-nav > li > a:hover {
  border-bottom: 4px solid #553679; }
.secondary-purple .copyright {
  background: #553679; }
@media screen and (max-width: 600px) {
  .secondary-purple #main-nav .navbar-brand {
    color: #553679; }
  .secondary-purple .navbar-nav > li.active > a {
    border-bottom: none;
    color: #553679; }
  .secondary-purple .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #553679; } }
.secondary-purple .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #553679; }
.secondary-purple .portlet-title-text {
  border-bottom: 4px solid #553679; }
@media screen and (min-width: 600px) {
  .secondary-purple .navbar-header {
    background: #553679; } }
.secondary-purple .btn-primary {
  background-color: #553679;
  border-color: #553679; }
.secondary-purple .theme-color {
  color: #553679; }
.secondary-purple .theme-background {
  background: #553679; }
.secondary-purple .nav .open > a, .secondary-purple .nav .open > a:hover, .secondary-purple .nav .open > a:focus {
  background-color: transparent;
  border-color: #553679; }

.secondary-red .navbar-nav > li.active > a {
  border-bottom: 4px solid #e60000; }
.secondary-red .navbar-nav > li > a:hover {
  border-bottom: 4px solid #e60000; }
.secondary-red .copyright {
  background: #e60000; }
@media screen and (max-width: 600px) {
  .secondary-red #main-nav .navbar-brand {
    color: #e60000; }
  .secondary-red .navbar-nav > li.active > a {
    border-bottom: none;
    color: #e60000; }
  .secondary-red .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #e60000; } }
.secondary-red .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #e60000; }
.secondary-red .portlet-title-text {
  border-bottom: 4px solid #e60000; }
@media screen and (min-width: 600px) {
  .secondary-red .navbar-header {
    background: #e60000; } }
.secondary-red .btn-primary {
  background-color: #e60000;
  border-color: #e60000; }
.secondary-red .theme-color {
  color: #e60000; }
.secondary-red .theme-background {
  background: #e60000; }
.secondary-red .nav .open > a, .secondary-red .nav .open > a:hover, .secondary-red .nav .open > a:focus {
  background-color: transparent;
  border-color: #e60000; }

.secondary-yellow .navbar-nav > li.active > a {
  border-bottom: 4px solid #ffe800; }
.secondary-yellow .navbar-nav > li > a:hover {
  border-bottom: 4px solid #ffe800; }
.secondary-yellow .copyright {
  background: #ffe800; }
@media screen and (max-width: 600px) {
  .secondary-yellow #main-nav .navbar-brand {
    color: #ffe800; }
  .secondary-yellow .navbar-nav > li.active > a {
    border-bottom: none;
    color: #ffe800; }
  .secondary-yellow .navbar-nav > li > a:hover {
    border-bottom: none;
    color: #ffe800; } }
.secondary-yellow .wowmenu.tiny .navbar-nav > li.active > a {
  border-bottom: 4px solid #ffe800; }
.secondary-yellow .portlet-title-text {
  border-bottom: 4px solid #ffe800; }
@media screen and (min-width: 600px) {
  .secondary-yellow .navbar-header {
    background: #ffe800; } }
.secondary-yellow .btn-primary {
  background-color: #ffe800;
  border-color: #ffe800; }
.secondary-yellow .theme-color {
  color: #ffe800; }
.secondary-yellow .theme-background {
  background: #ffe800; }
.secondary-yellow .navbar-header .site-name {
  color: #898989; }
.secondary-yellow .nav .open > a, .secondary-yellow .nav .open > a:hover, .secondary-yellow .nav .open > a:focus {
  background-color: transparent;
  border-color: #ffe800; }

